.container {
  margin-top: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item .bi {
  cursor: pointer;
}

.list-group-item .active {
  color: #0e6dfd;
}
